.googlete {
  display: block;

  .googlete-list {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    top: 0;
    left: 0;
    list-style: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #dddddd;
    border: 1px solid #666666;
    background-color: #333333;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);

    .googlete-list-item {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 22px;
      padding: 4px 12px;

      &:not(:last-child) {
        border-bottom: 1px solid #666666;
      }
    }

    .googlete-list-item__query {
      display: block;
      color: #ffffff;
      font-size: 0.8em;
      margin-right: 8px;
      padding: 2px;

      border: #555555;
      background-color: #444444;
      border-radius: 2px;
    }

    .googlete-list-item__description {
      display: block;
      margin: 0;
    }
  }
}
