{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": { "electron": "2.0" },
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react"
  ]
}
