.opelete {
  display: block;

  &--hide-descriptions {
    .opelete-list-item__description {
      display: none;
    }
  }
}

.opelete-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.opelete-list-item {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  padding: 0 16px;

  &:hover,
  &--focused {
    background-color: #eeeeee;
  }
}

.opelete-list-item__operator {
  display: block;
  flex-basis: 20%;
  margin-right: 8px;
}

.opelete-list-item__description {
  flex-grow: 1;
  margin: 0;
  color: #808080;
  text-align: right;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opelete-force-show {
  display: block !important;
}
